.filters {
  width: min(100%, 280px);
  background: #f7fcfc;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 100px;
  &__body {
    margin-top: 16px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    .main {
      font-size: 18px;
      line-height: 120%;
      text-align: center;
      color: #232730;
      font-weight: 700;
    }
    .count {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #07d271;
    }
  }
  .v-input--selection-controls {
    margin-top: 0;
  }
  &__body--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #232730;
    margin-bottom: 12px;
  }
  &__range--currency {
    span {
      white-space: nowrap;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #828282;
    }
  }
  .v-text-field > .v-input__control > .v-input__slot::before, .v-text-field > .v-input__control > .v-input__slot::after {
    display: none;
  }
}
