.filters {
  width: min(100%, 280px);
  background: #f7fcfc;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 16px;
  &__title {
    display: flex;
    justify-content: space-between;
    .main {
      font-size: 18px;
      line-height: 120%;
      text-align: center;
      color: #232730;
      font-weight: 700;
    }
    .count {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #07d271;
    }
  }
}
