.footer {
  padding: 50px 0 30px !important;

  .logo {
    width: 55px;
    margin: 0 0 20px;
  }

  .slogan {
    font-size: 16px;
    line-height: 140%;
    color: $black;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 40px;

    &.social {
      li {
        display: inline-block;
        a {
            display: block;
            margin: 0 5px 0;
            transition: .3s;

            &:hover {
                transform: translateY(-5px);
            }
        }
      }
    }

    li {
      margin: 0 0 15px;
      a {
        display: inline-1flex;
        align-items: center;
        text-decoration: none;
        color: $black;
        transition: 0.3s;

        &:hover {
          color: $base_color;
        }

        .v-icon {
            margin: 0 5px 0 0;
        }
      }
    }
  }

  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: $black;
    margin: 0 0 36px;
  }
}
