.best__categories {
  margin: 40px 0 150px 0 !important;
  &--items {
    &:not(:last-child) {
      padding: 0 20px 0 0;
    }

    article {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 20px 30px;
      border-radius: 10px;
      color: $black;

      p {
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        margin: 0 0 5px 0;
      }

      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

.blocks {
  //margin: 40px auto 190px !important;
}

.why__us {
  &--item {
    width: 100%;
    padding: 28px 24px;
    border-radius: 20px;
    background: #f7fcfc;
    height: 100%;
  }
}

.sale {
  margin-bottom: 120px;
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #232730;
    margin-bottom: 40px;
    margin-left: 12px;
  }
}
.popular-header {
  margin-top: 130px !important;
}
