.container {
  width: 100%;
  margin: 0 auto !important;
  padding: 0;
  max-width: 1200px;
}

.row {
  margin: 0 !important;
}

.headers {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-top: 130px;
  margin-bottom: 40px;
  color: $black;
}

.show__more {
  display: inline-flex;
  align-items: center;
  color: $black !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  padding: 0 10px 0 0;
  transition: 0.3s;

  .v-icon {
    color: $base_color;
  }

  &:hover {
    color: $base_color !important;
    .v-icon {
      transform: translateX(10px);
    }
  }
}
.breadcrumbs {
  margin-bottom: 40px;
  > a {
    text-decoration: none;
    font-size: 16px;
    color: #303733;
  }
  >a.active {
    color: #07D271;

  }
}

@mixin title {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #4F4F4F;
  display: flex;

  > div {
    width: 144px;
    margin-right: 20px;
  }
}
@mixin subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #232730;
}
@mixin trs {
  transition: all linear .2s;
}

@mixin trash {
  cursor: pointer;
  margin-left: 20px;
  width: 45px;
  height: 35px;
  background: #FF6666;
  border: 1px solid #FF6666;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include trs;
  &:hover {
    box-shadow: 0 6px 16px rgba(#FF6666, .5);
  }
}
@mixin mainTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #232730;

}
