.container {
  width: 95%;
  margin: 0 auto !important;
  padding: 0;
  max-width: 1180px;
}

.row {
  margin: 0 !important;
}

.headers {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: $black;
}

.show__more {
    display: inline-flex;
    align-items: center;
    color: $black !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    padding: 0 10px 0 0;
    transition: .3s;

    .v-icon {
        color: $base_color;
    }

    &:hover {
        color: $base_color !important;
        .v-icon {
            transform: translateX(10px);
        }
    }
}
