.profile {
  &__main--img {
    width: 160px;
    height: 130px;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #CCCCCC;
    border-radius: 16px;
    overflow: hidden;

    > img.selected {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }
  }
  &__main--avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
    > img.selected {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .no-product {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #232730;
    text-align: center;
    margin-top: 20px;
  }
  &__main--text{
    font-weight: 500;
    font-size: 14px;
    line-height: 34px;
    color: #232730;
  }
  &__main--btn {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #07D271;
    padding: 10px 20px;
    border: 1px solid #07D271;
    border-radius: 12px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
  }

  &__item {
    background: #FFFFFF;
    box-shadow: 6px 12px 24px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    min-width: 253px;
    margin-bottom: 100px;
    padding: 27px;
    height: max-content;
    .nuxt-link-exact-active {
      color: $main_color;
      .v-icon {
        color: $main-color;
      }
    }
    a {
      margin-bottom: 16px;
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 34px;
      color: #828282;
      opacity: 0.6;
      @include trs;
      .v-icon  {
        margin-right: 14px;
      }
      &:hover {
        color: #07d271;
      }
      &:hover .v-icon {
        color: #07d271;
      }
    }
  }
  &__main {
    margin-bottom: 100px;
    width: 100%;
    margin-left: 50px;
    background: #FFFFFF;
    border: 1px solid #E0E4E8;
    box-shadow: 6px 12px 24px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 30px;
  }
  &__main--header {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      li {
        width: 163px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #334D6E;
      }
    }
  }
  &__main--title {
    font-weight: 700;
    font-size: 22px;
    line-height: 110%;
    color: #232730;
    margin-bottom: 27px;
  }
  &__main--subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #0CAD60;
    margin-bottom: 20px;
  }
  &__main--item {
    background: #FFFFFF;
    border: 1px solid #E0E4E8;
    border-radius: 10px;
    padding: 16px;
  }
  &__place--title {
    font-weight: 700;
    font-size: 22px;
    line-height: 110%;
    color: #232730;
  }
}
.remove-all {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #0CAD60;
  cursor: pointer;
  @include trs;
  &:hover {
    color: #07d271;
  }
}
