// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$base_color: #2EAF7C;
$accent_color: #F8C018;
$text_color: #444444;
$bg_color: #e5e5e5;
$white: #FFFFFF;
$black: #232730;
$light_support: #CCF5E1;
$secondary_line: #E0E4E8;
$placeholder_color: #A8A8A8;